<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="COMMON_PATTERN" value="%d{ISO8601,UTC} %-5p class=%logger{36} thread=%thread event_description=&quot;%m&quot;%n" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>