<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
  <context:component-scan base-package="com.lxp.activemq.*.service" />

  <!-- activeMQ消息中间件 -->
  <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
    <property name="brokerURL" value="tcp://192.168.68.23:61616" />
    <property name="userName" value="frontend" />
    <property name="password" value="test" />
  </bean>

  <bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
    <property name="connectionFactory" ref="targetConnectionFactory" />
    <property name="maxConnections" value="10" />
  </bean>

  <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
    <property name="targetConnectionFactory" ref="pooledConnectionFactory" />
  </bean>


  <!-- 生产者start -->
  <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    <property name="connectionFactory" ref="connectionFactory" />
  </bean>
  <bean id="objectQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
    <constructor-arg value="objectQueue" />
  </bean>
  <!-- 生产者end -->


  <!-- 消费者start -->
  <bean id="consumerMessageListener" class="com.lxp.activemq.comsumer.listener.ConsumerMessageListener" />
  
  <bean id="objectResponseTopicListenerAdapter" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
    <property name="delegate" ref="consumerMessageListener" />
    <property name="defaultListenerMethod" value="onMessage" />
  </bean>
  <bean id="jmsObjectContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
    <property name="connectionFactory" ref="connectionFactory" />
    <property name="destination" ref="objectQueueDestination" />
    <property name="messageListener" ref="objectResponseTopicListenerAdapter" />
    <property name="sessionTransacted" value="true"/>  
  </bean>
  <!-- 消费者end -->
</beans>